<a href="https://colab.research.google.com/github/Rayzon3/DBMS/blob/master/DBMS_SQL_lite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pract-1
import sqlite3
conn = sqlite3.connect('Shop.db') #connecting to db

In [ ]:
c = conn.cursor() #creating cursor object
#creating table Shop_items
c.execute(''' CREATE TABLE Shop_items
                            (Item text, Symbol text, Expiry text, Quatity real, MRP real)''')
#inserting a row of data
c.execute("INSERT INTO Shop_items VALUES ('Rice', 'RCE', '2020-8-23', 10 ,100)")
conn.commit()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 89))

OperationalError: ignored

In [ ]:
c.execute("INSERT INTO Shop_items VALUES ('Wheat', 'WHT', '2020-7-23', 5, 70)")
c.execute("INSERT INTO Shop_items VALUES ('Apples', 'APL', '2020-7-43', 5, 80)")
c.execute("INSERT INTO Shop_items VALUES ('Soap', 'SOP', '2020-9-23', 0.120, 40)")
conn.commit()

In [ ]:
#printing
for row in c.execute('SELECT * FROM Shop_items'):
  print(row)

('Rice', 'RCE', '2020-8-23', 10.0, 100.0)
('Wheat', 'WHT', '2020-7-23', 5.0, 70.0)
('Apples', 'APL', '2020-7-43', 5.0, 80.0)
('Wheat', 'WHT', '2020-7-23', 5.0, 70.0)
('Apples', 'APL', '2020-7-43', 5.0, 80.0)
('Soap', 'SOP', '2020-9-23', 0.12, 40.0)

In [ ]:
c.execute("DELETE FROM Shop_items WHERE MRP < 70")

In [ ]:
for row in c.execute('SELECT * FROM Shop_items'):
  print(row)

('Rice', 'RCE', '2020-8-23', 10.0, 100.0)
('Wheat', 'WHT', '2020-7-23', 5.0, 70.0)
('Apples', 'APL', '2020-7-43', 5.0, 80.0)
('Wheat', 'WHT', '2020-7-23', 5.0, 70.0)
('Apples', 'APL', '2020-7-43', 5.0, 80.0)